.loaderContainer {
  width: available;
  height: available;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: var(--primary-1);
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  box-shadow: 0 0 24px -6px var(--neutral-5), 0 0 24px -6px var(--neutral-5) inset;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}