.shipyard {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 260px;

  .shipType {
    display: flex;
    gap: 24px;
    height: 35px;
  }
}


.buttons {
  justify-content: center;
  display: flex;
  gap: 16px;

  button {
    font-size: 16px;
    text-decoration: underline;
    cursor: pointer;
  }

}

.hint {
  font-size: 14px;
  white-space: nowrap;
  color: var(--primary-4);
}